/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffb6c1;
    color: #ccc;
    transition: background-color 0.4s, color 0.4s;
}

body.dark-mode {
    background-color: #36013f; /* Dark Mode Background */
    color: #ccc;
}

.sidebar {
    width: 300px;
    background-color: #FFB8F2;
    color: #ccc;
    padding: 20px;
    float: right;
    height: 100%;
    transition: background-color 0.4s, color 0.4s;
  }

.sidebar.dark-mode {
    background-color: #0D0141; /* Dark Mode Background */
    color: #ccc;
}

.chat-container {
    max-width: 400px;
    margin-left: 320px; /* Adjust this to leave space for the sidebar */
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
}

.chat-box {
    height: 300px;
    border: 1px solid #444;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #222;
    color: #ccc;
}

#message-input {
    width: 70%;
    padding: 5px;
    background-color: #444;
    color: #ccc;
    border: none;
}

#send-button {
    padding: 5px 10px;
    background-color: #444;
    color: #ccc;
    border: none;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}