@charset "UTF-8";
body {
  background:linear-gradient(80deg,#FBFFB5,#ffb6c1 30%,#E5B5FF 90%);
  display:flex;
  justify-content:center;
  margin:0;
  height: auto;
  font-family:system-ui,sans-serif;
  color:#4B2A2F;
}

.container {
  display:grid;
  width: 60vw;
  grid-template-areas:
    "header header info"
    "about about info"
    "project project info";
}

.box {
  border-style:solid;
  border-color:grey;
  background-color: #E5B5FF;
  border-radius:5px;
  padding:10px;
  margin:5px;
  margin-top:10px;
  margin-bottom:10px;
}

.alstolfo {
  position:fixed;
  bottom:0;
  right:0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.moth {
  position:fixed;
  bottom:0;
  left:0;
  opacity: 0;
}

.moth:hover {
  animation: fadeIn 5s;
  opacity: 1;
}